{% from "utilities.njk" import fontawesome %}

<footer class="bg-zinc-700 p-8 shadow-lg flex flex-col md:flex-row justify-between items-center gap-y-4 md:gap-y-0 md:gap-x-8 text-sm text-center text-zinc-300">
  <div class="flex gap-x-4">
    <a
      href="https://www.facebook.com/TureHounds"
      title="{{ settings.name }} on Facebook"
      aria-label="{{ settings.name }} on Facebook"
    >
      {{ fontawesome("brands", "facebook-f", "w-5 h-5 text-zinc-300 hover:text-[#0165e1]") }}
    </a>

    <a
      href="https://www.twitch.tv/turehounds"
      title="{{ settings.name }} on Twitch"
      aria-label="{{ settings.name }} on Twitch"
    >
      {{ fontawesome("brands", "twitch", "w-5 h-5 text-zinc-300 hover:text-[#9146ff]") }}
    </a>

    <a
      href="https://www.youtube.com/channel/UCMul01WRsW2CkNfTOquFq0A"
      title="{{ settings.name }} on YouTube"
      aria-label="{{ settings.name }} on YouTube"
    >
      {{ fontawesome("brands", "youtube", "w-5 h-5 text-zinc-300 hover:text-[#ff0000]") }}
    </a>

    <a
      href="https://www.instagram.com/turehounds"
      title="{{ settings.name }} on Instagram"
      aria-label="{{ settings.name }} on Instagram"
    >
      {{ fontawesome("brands", "instagram", "w-5 h-5 text-zinc-300 hover:text-[#e95950]") }}
    </a>

    <a
      href="https://x.com/TureHounds"
      title="{{ settings.name }} on X"
      aria-label="{{ settings.name }} on X"
    >
      {{ fontawesome("brands", "x-twitter", "w-5 h-5 text-zinc-300 hover:text-[#ffffff]") }}
    </a>
  </div>
  <div>
    Copyright © {% year %}
    {{ settings.name }}. All rights reserved.
  </div>
</footer>
