{% from "utilities.njk" import heroicon %}

<div
  x-data="{ open: false }"
  class="relative md:fixed w-full bg-white shadow-lg font-serif font-bold"
>
  <div class="mx-auto max-w-7xl px-4 sm:px-6">
    <div class="flex items-center justify-between justify-items-stretch border-b-2 border-gray-100 py-6 space-x-10">
      <div class="flex justify-start">
        <a href="/">
          <span class="sr-only">{{ settings.name }}</span>
          <img
            class="h-8 w-auto sm:h-10"
            src="{{ settings.logo }}"
            alt="{{ settings.name }}"
          >
        </a>
      </div>
      <div class="-my-2 -mr-2 lg:hidden">
        <button
          type="button"
          @click="open = true"
          class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
          aria-expanded="false"
        >
          <span class="sr-only">Open menu</span>
          {{ heroicon("outline", "bars-3", "h-6 w-6") }}
        </button>
      </div>
      <nav
        x-data="{ search: false, query: '' }"
        class="flex-1 hidden lg:flex space-x-6 justify-end items-center"
      >
        {# all of the top-level pages, with sub-menus if there are children #}
        {% for nav in (collections.all | eleventyNavigation | rejectattr("hidden")) %}
          {% if nav.children | length %}
            <div x-show="!search" x-data="{ open: false }" class="relative">
              <button
                type="button"
                @click="open = !open"
                class="text-gray-500 group inline-flex items-center rounded-md bg-white text-base font-medium hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                aria-expanded="false"
              >
                <span>{{ nav.title }}</span>
                {{ heroicon("mini", "chevron-down", "text-gray-400 ml-1 h-5 w-5 group-hover:text-gray-500") }}
              </button>

              {# popup/flyout... #}
              <div
                x-cloak
                x-show="open"
                class="absolute z-10 xx--ml-4 mt-3 xx-w-screen w-max max-w-md transform px-2 sm:px-0 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 font-sans font-normal text-sm"
              >
                <div class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5">
                  <div class="relative grid xx-gap-6 bg-white xx-px-5 xx-py-6 xx-sm:gap-8 xx-sm:p-8">
                    {% for child in nav.children %}
                      <a
                        href="{{ child.url }}"
                        class="xx--m-3 flex items-start rounded-lg p-3 hover:bg-gray-50"
                      >
                        <div class="xx-ml-4">
                          {{- child.title -}}
                        </div>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <a
              x-show="!search"
              href="{{ nav.url }}"
              class="text-base font-medium text-gray-500 hover:text-gray-900"
            >
              {{- nav.title -}}
            </a>
          {% endif %}
        {% endfor %}
        <form
          x-show="search"
          class="search w-full font-sans font-normal relative"
        >
          <div class="w-full flex gap-2">
            <input
              type="text"
              name="q"
              x-model.debounce="query"
              x-effect="if (search) { $nextTick(() => {$el.focus();}); }"
            >
            {# <input type="submit" value="Search"> #}
          </div>
          <div
            x-show="query"
            class="absolute top-9 bg-white rounded p-2 border w-full search-results"
            x-html="window.search(query)"
          ></div>
        </form>
        <button type="button" @click="search = !search" class="">
          {{ heroicon("outline", "magnifying-glass", "w-5 h-5 text-gray-500 hover:text-gray-900") }}
        </button>
      </nav>
    </div>
  </div>

  {# Mobile menu, show/hide based on mobile menu state.

  Entering: "duration-200 ease-out" From: "opacity-0 scale-95" To: "opacity-100
  scale-100" Leaving: "duration-100 ease-in" From: "opacity-100 scale-100" To:
  "opacity-0 scale-95" #}
  <div
    x-show="open"
    class="absolute inset-x-0 top-0 origin-top-right transform p-2 transition lg:hidden"
  >
    <div class="divide-y-2 divide-gray-50 rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5">
      <div class="px-5 pt-5 pb-6">
        <div class="flex items-center justify-between">
          <div>
            <img
              class="h-8 w-auto"
              src="{{ settings.logo }}"
              alt="{{ settings.name }}"
            >
          </div>
          <div class="-mr-2">
            <button
              type="button"
              @click="open = false"
              class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
            >
              <span class="sr-only">Close menu</span>
              {{ heroicon("outline", "x-mark", "h-6 w-6") }}
            </button>
          </div>
        </div>
        <div class="mt-6">
          <nav class="grid gap-y-8">
            {# all of the top-level pages, WITHOUT sub-menus for children #}
            {% for nav in (collections.all | eleventyNavigation | rejectattr("hidden")) %}
              <a
                href="{{ nav.url }}"
                class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50"
              >
                {#
                {{ heroicon("outline", "chart-bar", "h-6 w-6 flex-shrink-0 text-indigo-600") }}
                #}
                <span class="ml-3 text-base font-medium text-gray-900">
                  {{- nav.title -}}
                </span>
              </a>
            {% endfor %}
          </nav>
        </div>
      </div>
      {#
      <div class="space-y-6 py-6 px-5">
        <div class="grid grid-cols-2 gap-y-4 gap-x-8">
          <a
            href="#"
            class="text-base font-medium text-gray-900 hover:text-gray-700"
            >Pricing</a
          >

          <a
            href="#"
            class="text-base font-medium text-gray-900 hover:text-gray-700"
            >Docs</a
          >

          <a
            href="#"
            class="text-base font-medium text-gray-900 hover:text-gray-700"
            >Help Center</a
          >

          <a
            href="#"
            class="text-base font-medium text-gray-900 hover:text-gray-700"
            >Guides</a
          >

          <a
            href="#"
            class="text-base font-medium text-gray-900 hover:text-gray-700"
            >Events</a
          >

          <a
            href="#"
            class="text-base font-medium text-gray-900 hover:text-gray-700"
            >Security</a
          >
        </div>
        <div>
          <a
            href="#"
            class="flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700"
            >Sign up</a
          >
          <p class="mt-6 text-center text-base font-medium text-gray-500">
            Existing customer?
            <a
              href="#"
              class="text-indigo-600 hover:text-indigo-500"
              >Sign in</a
            >
          </p>
        </div>
      </div>
      #}
    </div>
  </div>
</div>

{# spacer for fixed header... #}
<div class="hidden md:block pb-20"></div>
<div class="hidden md:block pb-2"></div>
