{# no easy access to split(), so we take set and name separately... #}
{% macro heroicon(setName, iconName, classes) %}
  {% set prefix = "20/solid" if setName == "mini" %}
  {% set prefix = "24/solid" if setName == "solid" else prefix %}
  {% set prefix = "24/outline" if setName == "outline" else prefix %}
  <span class="{{ classes }}">
    {% include "node_modules/heroicons/" + prefix + "/" + iconName + ".svg" %}
  </span>
{% endmacro %}
