---
#layout: root
---
{% extends "./root.html" %}

{% block title %}
<div
  class="bg-no-repeat bg-cover bg-center"
  style="{% backgroundImage "./src/static/media/BR031221-99.jpg", { before: 'linear-gradient(to right, #06b6d480, #14b8a680)' } %}"
>
  <div class="text-white font-serif font-bold py-24 px-8 md:py-64 md:px-16 text-center md:text-left md:ml-[10%]">
    <h1 class="text-5xl md:text-7xl mb-8">{{ settings.name }}</h1>
    <div class="text-lg md:text-xl">A new entry into the world of Basenjis</div>
  </div>
</div>
{% endblock %}
