<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#
    <title @html="title"></title>
    #} {#
    <!-- <meta name="url" :content="page.url"> -->
    #} {#
    <style>
      {{ page.url | webcGetCss | safe }}
    </style>
    #} {#
    <script>
      {
        {
          page.url | webcGetJs | safe;
        }
      }
    </script>
    #}
    <title>{{ title }}</title>
    {% if description %}
      <meta name="description" content="{{description}}">
    {% endif %}
    {% block head %}
    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rokkitt:wght@300;400;700&display=swap"
      rel="stylesheet"
    >
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>
  <body class="bg-gray-100">
    {% block header %}
    {% include 'header.html' %}
    {% endblock %}
    {% block title %}DEFAULT TITLE{% endblock %}
    <div id="body-content">
      {% block main %}
      <div class="md:mx-5 md:-mt-12 md:rounded-t-lg px-6 py-12 min-h-[6rem] md:min-h-[24rem] bg-white shadow-lg">
        {% block content %}
        {{ content | safe }}
        {% endblock %}
      </div>
      {% endblock %}
    </div>
    {% block footer %}
    <div class="md:mx-5">
      {% include 'footer.html' %}
    </div>
    {% endblock %}

    <script defer src="/static/js/lunr.min.js"></script>
    <script defer src="/static/js/search_index.js"></script>
    <script defer src="/static/js/search.js"></script>
    <script defer src="/static/js/alpine.js"></script>
  </body>
</html>
