@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif font-bold;
}

.prose a,
.prose-lg a,
.prose-xl a {
  @apply text-cyan-500;
}

/* headers as a first child never get top-margin? */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0 !important;
}

p:last-child {
  margin-bottom: 0 !important;
}

/* our default form styling... */
form label, form fieldset legend {
  @apply block text-sm font-bold mb-3;
}

form fieldset label {
  @apply block text-base font-normal m-0 ml-2;
}

form input[type='text'],
form input[type='password'],
form input[type='email'],
form input[type='number'],
form input[type='url'],
form input[type='date'],
form input[type='datetime-local'],
form input[type='month'],
form input[type='week'],
form input[type='time'],
form input[type='search'],
form input[type='tel'],
/*form select,
form select[multiple],*/
form textarea {
  @apply block w-full rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 shadow-sm;
}

form input[type='checkbox'],
form input[type='radio'] {
  @apply h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500;
}

form input[type='submit'],
form button {
  @apply rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-lg font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
}
